@import url('https://fonts.cdnfonts.com/css/montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body,header,main {
    height: 100%;
}

body {
    font-family: 'Montserrat';
    min-height: 400px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

h1,h3,h2 {
    color:#252B42;
}

h5,h6 {
    color: #96BB7C;
}

p,h4 {
    color: #737373;
}

h1 {
    font-size: 54px;
}
h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;   
}

h6 {
    font-size: 14px;
}

p {
    font-size: 14px;
    font-weight: 400;
}

ul {
    list-style: none;
    display: flex;
        
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.hr {
    width: 20%;
    height: 1px;
    background-color: red;
}

.overflow {
    overflow-y: hidden;
}

/* HEADER */

#nav-header {
    width: 70%;    
    display: flex;
    column-gap: 20px;
    line-height: 100px;
    justify-content: space-between;
    
}


#nav-header ul li {    
    color: #737373;
    font-style: normal;
    font-weight:600;
    font-size: 14px;
}

#nav-header #brand {
    color: #252B42;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

#nav-header .btn-toggle {
    cursor: pointer;
    font-size: 30px;
    background: none;
    border: none;
}

#nav-header .list {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    width: 80%;
}


#header-content02 #img-woman {
    min-height: 580px;
}

#header-content01 {
    row-gap: 50px;
    align-items: start;
    justify-content: center;
    width: 50%;
}

header #header-thumb {
    width: 90%;
}

#header-content02 {
    width: 50%;
    height: 100%;
    position: relative;    
}

#content-image {
    display:  inline-block;
}

/* Nav*/

.list-dropdown li {
    transition: all 0.5s;
}

.list-dropdown li:hover {
    transform: translateY(-5px);
    transition: all 0.5s;
}

.btn {
    padding: 15px 0;
    width: auto;
    min-width: 110px;
    height: 52px;
    font-weight: 700;
    font-size: 14px;
    border: none;
    border-radius: 5px;

}

.btn-green {
    color: #fff;
    background-color: #96BB7C;
}

.btn .btn-text {
    display: flex;
    justify-content: space-between;
}

.img-header {
    position: absolute;
    z-index: -1;
}

.img-header01 {
    left: 0;
    top: 0;
}

.img-header02 {
    right: 0;
    top: 0;
}

.vt {
    position: absolute;
    z-index: -1;    
}

#vt-01 {
    left: 6.66%;
    right: 15.26%;
    top: 24.99%;
    bottom: 12.27%;
}

#vt-02 {
    left: 0%;
    right: 61.22%;
    top: 58.05%;
    bottom: 7.03%;
}

#vt-03 {
    left: 13.88%;
    right: 68.43%;
    top: 23.9%;
    bottom: 59.86%;
}

#vt-04 {
    left: 11.54%;
    right: 68.33%;
    top: 59.4%;
    bottom: 15.78%;
}


#vt-05 {
    left: 33.92%;
    right: 21.42%;
    top: 26.34%;
    bottom: 35.58%;
}

#vt-07 {
    left: 0.03%;
    right: 81.46%;
    top: 23.14%;
    bottom: 38.76%;
}

/* MAIN */

.box-content {
    height: 100vh;
    min-height: 400px;
    row-gap: 40px;
    justify-content: center;

}

.card {
    flex: 1 1 300px;
}

.section-item {
    width: 60%;
    justify-self: center;
    flex-wrap: wrap;
}

section {
    width: 50%;
    text-align: center;
    justify-self: center;
}

section h6 {
    margin-bottom: 20px;
}

section h3 {
    margin-bottom: 10px;
}


#section-01 {
    margin-top: 80px;
}

#thumb-section-01 {
    position: relative;
    cursor: pointer;
}

#thumb-section-01 img {
    border-radius: 25px;
}

#section-02 .section-item {
    height: 40%;
    width: 100%;
    gap: 20px;
    padding: 30px;    
}


#section-02 .card {
    min-height: 200px;
    height: 100%;
    max-width: 500px;
    row-gap: 20px;
    justify-content: center;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07); 
}

#section-02 .card h5 {
    color: #252B42;
}

#section-03 {
    flex-direction: row-reverse; 
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

#section-03 .section-item {
    width: 40%;
    order: 2;
}


#section-03 section {
    width: 40%;
    order: 1;
    row-gap: 40px;
    text-align: start;
    align-items: flex-start;
}

#section-03 section a {
    text-decoration: none;
    color: none;
    font-size: 14px;
    color: #96BB7C;
}

#play {
    min-width: 50px;
    min-height: 50px;
    font-size: 2rem;
    color: white;
    border: none;
    background-color: #96BB7C;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#section-04 .section-item {
    padding: 0 30px;
    width: 100%;
    height: auto;
    gap: 20px;    
}

#section-04 .card {
    align-items: center;
    justify-content: center;
    flex-basis: 300px;
    max-width: 350px;
    height: auto;
}

#section-04 .p-image {
    height: 300px;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sale {
    color: white;
    align-self: start;
    background-color: #E74040;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
}

.icons-nav {
    align-self: center;
    justify-self: self-end;
    font-size: 20px;
    gap: 20px;
}

.icons-nav .icon {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 45px;
    justify-content: center;
    background-color: white;
}

.p-content {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    padding: 20px 10px;
}

.p-content-head {
    width: 100%;
    justify-content: space-between;
}

.rank {
    padding: 5px 10px;
    border-radius: 20px;
    column-gap: 5px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #2D4059;
}

.rank i {
    color: #FFCE31;
}

.p-content h5 {
    color: #737373;
    font-size: 14px;
}

.p-content h3 {
    font-size: 16px;
}

.p-content p {
    font-size: 14px;
}

.real {
    color: #BDBDBD;
}

.dollar {
    color: #FFAB71;
}

.p-content button {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2px;
    padding: 10px;
    color: #96BB7C;
    border-radius: 20px;
    background: white;
    border: 1px solid #96BB7C;
}

#section-04 .p01  {
    background-image: url("../img/section-04/product-cover-124\ sec-.png");
}

#section-04 .p02  {
    background-image: url("../img/section-04/product-cover-125\ sec-.png");
}


#section-05 {
    height: auto;
    
 
}
#section-05 section {
    margin-bottom: 48px;
 
}

#section-05 #plan {
    width: 100%;
    padding: 50px;
    row-gap: 40px;
    flex-wrap: wrap;
    
}

#section-05 .card {
    text-align: center;
    max-width: 350px;
    row-gap: 20px;
    padding: 40px 0;
    position: relative;
}

#section-05 .btn {
    width: 70%;
}

#section-05 .card h2 {
    color: #96BB7C;
}

#section-05 h5 {
    width: 45%;
    text-align: center;
}

#section-05 #plan h6 {
    color: #8EC2F2;
}

#section-05 p {
    width: 60%;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    
}

#section-05 #plan h5 {
    font-size: 14px;
    color: #737373;
}

#section-05 .heart {
    width: 96px;
    height: 96px;
    background-color: #96BB7C;
    justify-content: center;
    border-radius: 50%;
}

#section-05 .heart img {
    width: 48px;
    height: 48px;
    
}

#section-05 .new {
    width: 96px;
    height: 96px;
    background-color: #E77C40;
    border-radius: 50%;
    justify-content: center;
    position: absolute;
    top: -48px;
    right: -48px;
}

#section-05 .check {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
}

.plan-02 {
    background-color: #2D4059;
}

#section-05 .checked {
    background-color: #2DC071;
}

#section-05 .no-checked {
    background-color: #BDBDBD;
}


#section-05 .plan-specs {
    align-items: flex-start;
    width: 70%;
    row-gap: 10px;
}

#section-05 #plan .plan-specs h6 {
    color: #252B42;
    font-size: 14px;
    line-height: 24px;
    display: inline;
}

#section-05 .plans-itens {
    flex-direction: row;
    column-gap: 7px;
    text-align: left;
    flex-wrap: wrap;
}

#section-05 #plan .plan-02 h5,#section-05 #plan .plan-02 h3,#section-05 #plan .plan-02 p,#section-05 #plan .plan-02 .plan-specs h6 {
    color: white;
}

#section-06 {
    background-color: #2D4059;
}

#section-06 h3, #section-06 p  {
    color: white;
}

#section-06 .input-group {
    width: 50%;
    min-width: 300px;
    min-height: 58px;
    border: 1px solid white;
    border-radius: 5px;
    flex-wrap: wrap;
}

#section-06 .input-group input {
    height: 100%;
    height: 58px;
    flex-grow: 4;
    font-size: 16px;
    text-indent: 20px;
}

#section-06 .input-group .btn {
    height: 100%;
    height: 58px;

    border-radius: 0;
    flex-grow: 1;
}


/* Footer */



footer #footer  {
    padding: 40px 0;
    row-gap: 40px;
}

footer #footer .row {
    justify-content: space-between;
    width: 70%;
    flex-wrap: wrap;
    row-gap: 40px;
}


footer #footer .row p {
    color: #737373;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

footer .row .column {
    align-items: flex-start;
    gap: 20px;
}

footer h5 {
    color: #252B42;
    font-size: 16px;
    font-weight: 700;
    
}

footer ul {
    flex-direction: column;
    row-gap: 20px;
}

footer ul li{
    color: #737373;
    font-size: 14px;
    font-weight: 700;
}

footer #informations {
    align-items: center;
}

footer #social-media {
    flex-direction: row;
    column-gap: 20px;
}

footer ul i{
    color: #96BB7C;
    font-size: 30px;
    
}




@media (max-width: 575.98px) { 
    #section-05 .new {
        top: -26px;
        right: -26px;
    }
 }

@media (min-width: 576px) {
   
}

@media (max-width: 767.98px) {
    main {
        row-gap: 20px;
    }

    .box-content {
        height: auto;
    }

    #nav-header {
        width: 90%;        
    }

    #nav-header .img-header {
        display: none;
    }
    
    #nav-header .btn-toggle {
        display: block;
    }

    header #nav-header .nav-dropdown {
        display: none;
    }


    #nav-header .open-dropdown {
        display: block;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 100px;
        left: 0;
        background-color: white;
    }

    .list-dropdown li {
        padding: 10px 20px;
    }

    #nav-header .open-dropdown .list-dropdown {
        flex-direction: column;
        align-items: center;
    }

    #nav-header .open-dropdown .list-dropdown li {
        align-self: flex-start;
        margin-left: 30px;
        height: 60px;
        line-height: 60px;
    }

    #nav-header .open-dropdown .list-dropdown .special-links {
        align-self: center;
    }
    
    #header-content01 {
        text-align: center;
        align-items: center;
        width: 100%;
    }

    #header-content02 {    
        display: none;
        width: auto;
        
    }

    #nav-header ul {
        column-gap: 15px;
    }
    
    section {
        width: 70%;
    }

    #section-01 {
        height: 60vh;
    }

    #play {
        width: 10vw;
        height: 10vw;
    }


    #section-03 {
        flex-direction: column;
    }
    
    #section-03 .section-item {
        width: 70%;
        order: 2;
    }
    
    #section-03 section {
        width: 70%;
        order: 1;
        text-align: center;
        align-items: center;
    }

    #section-05 #plan {
        width: 100%;
    }
}


@media (min-width: 768px) { 
    main {
        row-gap: 100px;
    }

    #nav-header {
        width: 80%;
    }

    #nav-header .img-header {
        display: block;
    }
    
    #header-content01 {
        align-items: center;
        text-align: center;
        width: 100%;
    }

    #nav-header .btn-toggle {
        display: none;
    }

    #header-content02 {
        display: block;
        width: 80%;    
    }

    #nav-header ul {
        column-gap: 20px;
    }

    section {
        width: 50%;
    }

    #section-01 {
        height: 100vh;
    }

    #section-03 .section-item {
        width: 40%;    
        order: 2;
    }
    
    #section-03 section {
        width: 40%;
        order: 1;
    }

    #play {
        width: 10vh;
        height: 10vh;
    }
 }

@media (min-width: 992px) {
    #nav-header {
        width: 75%;
    }

    #nav-header .btn-toggle {
        display: none;
    }

    #nav-header #dropdown-nav {
        display: flex;
    }

    header #header-thumb {
        flex-direction: row;   
    }

    #header-content01 {
        text-align: left;
        padding: 0 50px;
        align-items: start;
        width: 45%;
    }

    #header-content02 {
        display: block;
        max-width: 55%;
        width: auto;
    }
}


@media (min-width: 1200px) {
    #nav-header {
        width: 70%;
    }

    #header-content01 {
        width: 52%;
    }

    #header-content02 {
        max-width: 48%;
    }
    
}

@media (min-width: 1400px) { 

}